# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
pc-api-8077808323240131981-400-ef6e75bdade8.json
credentials.json
android/
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
